* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.header{
    width: 100%;
    height: 176px;
    background-color: #FFFFFF;
    position: relative;
}

.logo {
    position: absolute;
    top: 32px;
    left: 348px;
    width: 153.45px;
    height: 50px;
}

.search-box {
    position: absolute;
    top: 32px;
    left: 820px; 
    width: 232px;
    height: 40px;
    background-color: #ECECED;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 600;
}
body{
    font-family: 'Inter', sans-serif;
}
.search-box input {
    border: none;
    outline: none;
    width: 100%;
    display: flex;
    align-items: center;
    background: transparent;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    font-weight: bold;
}

.btn-consult {
    position: absolute;
    width: 216px;
    height: 40px;
    top: 32px;
    left: 1108px;
    background-color: #237A37;
    text-decoration: none;
    padding: 8px 20px 8px 20px;
    border-radius: 8px; 
    font-size: 20px;
}

.btn-hotline {
    position: absolute;
    width: 193px;
    height: 40px;
    top: 32px;
    left: 1380px;
    background-color: #DC3545;
    text-decoration: none;
    padding: 8px 20px 8px 20px;
    border-radius: 8px;
    color: white;
    font-size: 20px;
}

.header-nav {
    position: absolute;
    top: 107px;
    background-color:#237A37;
    height: 69px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-nav {
    display: flex;
    justify-content: space-between; 
    list-style: none;
    width: 1120px;
    height: 40px;
    display: flex;
    
}

.tab-nav li {
    position: relative; 
    height: 100%;          
    display: flex;
    align-items: center;  
}

.tab-nav a {
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
}

.tab-nav li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;             
    width: 100%;
    height: 2px;
    background: #EFEFEF;
    opacity: 0;
    transition: opacity 0.25s ease;
}

.tab-nav li:hover::after {
    opacity: 1;
}

.main-container {
    padding-top: 64px;
    display: flex;
    gap: 128px; 
    max-width: 1200px;
    margin: 0 auto;
}
.container {
    width: 100%;             
    max-width: 1224px;       
    margin: 0 auto;          
    padding: 0 15px;         
}

.content-left {
    width: 704px; 
}

.quantity-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 129px; 
    height: 40px;
    border: 1px solid #41464B; 
    border-radius: 8px;    
    padding: 8px 12px;
    margin-bottom: 20px;
}

.quantity-input button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.quantity-input input {
    width: 40px;
    text-align: center;
    border: none;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    background: transparent;
    outline: none;
}
.main-content-left{
    margin-top: 32px;
    text-align: justify;
}


.related-products{
    margin-top: 64px;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 16px 30px; 
    margin-top: 64px;
}

.product-card {
    width: 312px;
    height: 449px;
    display: flex;
    flex-direction: column;
}


.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 24px;
}

.product-info {
    margin-top: 10px;
    width: 100%;
    height: 122px;
    display: flex;
    flex-direction: column;
}
.product-name{
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
    flex-grow: 1; 
    margin-bottom: 5px;
}
.price-box{
    margin-top: auto; 
    margin-bottom: 10px;
}
.old-price {
  text-decoration: line-through;
  color: #4F4B5C;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 500;
}

.current-price {
  color: #d32f2f; 
  font-weight: 500;
  font-size: 20px;
}

.add-to-cart {
    width: 208px;
    height: 40px; 
    background-color: #237A37;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}



.sidebar-right {
    width: 390px;
}
.line {
    border: none;
    border-top: 1px solid #41464B; 
    margin-top: 12px;
}

.content-left h1 {
    font-size: 28px;
    font-weight: 700;
    color: #000;
    line-height: 100%;
}
.content-left h2{
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    color: #084298;
}
.content-left p{
    font-size: 24px;
}

.product{
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
    gap: 20px;
}

.product-img img{
    width: 392px;
    height: 392px;
}

.recent-posts {
    width: 390px;
    border: 1px solid #D8D8D8B2;
    border-radius: 24px; 
    padding: 16px;
    gap: 10px;
}

.widget-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #000;
}

.post-list {
    list-style: none;
    padding: 0;
}

.post-list li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 18px;
    gap: 24px;
}

.post-list .number {
    width: 32px;
    height: 32px;
    background-color: #237A37; 
    color: white;
    min-width: 28px; 
    border-radius: 30%;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
}

.post-list a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  line-height: 1.4;
  font-size: 18px;
}
.sidebar-right img{
    width: 390px;
    height: 390px;
    margin-top: 64px;
}
footer {
    width: 100%;
    height: 542px;
    margin-top: 56px;
    background-color: #110c22;
    color: white;
}

.footer-top {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 40px 0;                
    border-bottom: 1px solid #2e293d
}

.footer-brand .footer-logo {
    width: 150px;
}

.footer-brand .slogan {
    color: #fff;
    font-size: 14px;
    margin-top: 5px;
    font-weight: 300;
}

.footer-links {
    display: flex;         
    list-style: none;      
    gap: 32px;             
}

.footer-links a {
    color: #fff;
    text-decoration: none; 
    font-size: 20px;
    font-weight: 600;
    transition: color 0.3s;
}

.footer-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 16px;                             
    padding: 33px 0;                      
    border-bottom: 1px solid #2e293d
}

.footer-col-title {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 24px;   
    text-transform: uppercase;
}

.footer-contact-list {
    list-style: none;
    padding: 0;
}

.footer-contact-list li {
    color: #B3B1B8;           
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;      
    margin-bottom: 15px;   
    display: flex;         
    align-items: flex-start;
}

.footer-contact-list i {
    display: inline-block; 
    width: 24px;           
    margin-right: 12px;    
    color: #B3B1B8;          
    font-size: 18px;       
    text-align: center;    
}

.footer-bottom {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 30px 0;                
}

.copyright {
    color: #B3B1B8;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.social-links {
    display: flex;
    gap: 24px;                      
}

.social-links a {
    color: #B3B1B8;                    
    font-size: 20px;
}