* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.header{
    width: 100%;
    height: 176px;
    background-color: #FFFFFF;
    position: relative;
}

.logo {
    position: absolute;
    top: 32px;
    left: 348px;
    width: 153.45px;
    height: 50px;
}

.search-box {
    position: absolute;
    top: 32px;
    left: 820px; 
    width: 232px;
    height: 40px;
    background-color: #d9d9d9;
    border-radius: 8px;
}
body{
    font-family: 'Inter', sans-serif;
}
.search-box input {
    border: none;
    outline: none;
    width: 100%;
    display: flex;
    align-items: center;
    background: transparent;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    font-weight: bold;
}

.btn-consult {
    position: absolute;
    width: 216px;
    height: 40px;
    top: 32px;
    left: 1108px;
    background-color: #237A37;
    text-decoration: none;
    padding: 8px 20px 8px 20px;
    border-radius: 8px; 
    font-size: 20px;
}

.btn-hotline {
    position: absolute;
    width: 193px;
    height: 40px;
    top: 32px;
    left: 1380px;
    background-color: #DC3545;
    text-decoration: none;
    padding: 8px 20px 8px 20px;
    border-radius: 8px;
    color: white;
    font-size: 20px;
}

.header-nav {
    position: absolute;
    top: 107px;
    background-color:#237A37;
    height: 69px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-nav {
    display: flex;
    justify-content: space-between; 
    list-style: none;
    width: 1120px;
    height: 40px;
    display: flex;
    
}

.tab-nav li {
    position: relative; 
    height: 100%;          
    display: flex;
    align-items: center;  
}

.tab-nav a {
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
}

.tab-nav li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;             
    width: 100%;
    height: 2px;
    background: #EFEFEF;
    opacity: 0;
    transition: opacity 0.25s ease;
}

.tab-nav li:hover::after {
    opacity: 1;
}
.hero-banner img{
    max-width: 100%; 
    height: auto;
}

.container {
    width: 100%;             
    max-width: 1224px;       
    margin: 0 auto;          
    padding: 0 15px;         
}

section {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    width: 100%;
}
.stats{
    width: 100%;
    justify-content: center;
}
.stats-box {
    width: 1432px;
    height: 310px;
    display: flex;
    background-color: #e2e1e1;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    margin: 32px auto 0;
}

.stats-list{
    display: flex;
    width: 1224px;
    height: 227px;
    align-items: center;
    justify-content: space-between;
}
.stats-item {
    width: 288px;
    height: 227px;
    text-align: center;
}

.stats-item img{
    width: 72px;
    height: 83.41px;
}

.stats-item h3 {
    margin-top: 21px;
    font-size: 32px;
    font-weight: 600;
    color: #237A37;
    font-weight: 600;
}

.stats-item p {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    line-height:100%;
    margin-top: 26.59px;
}

.btn-stats{
    margin: 32px auto 0;
    width: 320px;
    height: 56px;
    background-color: #237A37;
    text-decoration: none;
    padding: 16px 20px 16px 20px;
    border-radius: 8px; 
    font-size: 28px;
    font-weight: 700px;
}

.courses{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.btn-consult3{
    margin-top: 32px;
    width: 329px;
    height: 56px;
    background-color: #237A37;
    text-decoration: none;
    padding: 16px 20px 16px 20px;
    border-radius: 8px; 
    font-size: 28px;
    font-weight: 700px;
}

.books {
    margin-top: 64px;
}

.books-content {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 80px;
    font-size: 20px;
    font-weight: 600px;
}

.books-intro {
    flex: 1; 
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    color: #333;
}

.books-grid {
    flex: 2; 
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 32px 25px; 
}

.book-item img {
    width: 183px; 
    height: 265px;
}

.books-footer {
    text-align: center;
    margin-top: 32px;
}

.btn-all-books {
    width: 322px;
    height: 56px;
    display: inline-block;
    padding: 16px 20px;
    background-color: #237A37;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    border-radius: 8px;
    font-size: 28px;
}

.teachers{
    margin-top: 32px;
}

.teachers-list{
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.teachers-list img{
    width: 600px;
    height: 546px;
}

.students{
    margin-top: 64px;
}
.students-list{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.news{
    margin-top: 32px;
}
.news p{
    font-size: 20px;
    font-weight: 600px;
}
.news-grid {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    margin-bottom: 40px;
}
.news-item {
    background: #d9d9d9;
    height: 392px; 
    height: 392px;
}
.btn-primary{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 283px;
    height: 56px;
    background: #237A37;
    color: #fff;
    padding: 16px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 28px;
    font-weight: 700;
}

.resources{
    width: 100%;
    height: 971px;
    margin-top: 32px;
    background-color: #d9d9d9;
}
.resources h2{
    margin-top: 50px;
}
.resources p{
    margin-top: 32px;
}
.resources-list{
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.resources-item{
    width: 392px;
    height: 592px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
}
.resources-content{
    width: 332px;
    margin-top: 32px;
}
.resources-item img{
    width: 392px;
    height: 313.6px;
}
.resources-item h2{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.resources-item p{
    margin-top: 24px;
    font-size: 20px;
    font-weight: 600;
    color: #565E64;
}

.register{
    padding: 64px 0;
}

.register-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 128px;
}
.register-wrapper img{
    width: 496px;
    height: 496px;
}

.register-form{
    flex: 1;
}

.register-form h2{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 32px;
}

.form-group{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-group label{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 6px;
    color: #141619;
}

.form-group span{
    color: red;
}

.form-group input,
.form-group select{
    width: 496px;
    height: 40px;
    padding: 0 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}

.btn-submit{
    width: 329px;
    height: 56px;
    margin-top: 16px;
    padding: 16px 20px;
    background-color: #237A37;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
    align-self: center;
}
.register-form form{
    display: flex;
    flex-direction: column;
}
footer {
    width: 100%;
    height: 542px;
    margin-top: 63.23px;
    background-color: #110c22;
    color: white;
}

.footer-top {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 40px 0;                
    border-bottom: 1px solid #2e293d
}

.footer-brand .footer-logo {
    width: 150px;
}

.footer-brand .slogan {
    color: #fff;
    font-size: 14px;
    margin-top: 5px;
    font-weight: 300;
}

.footer-links {
    display: flex;         
    list-style: none;      
    gap: 32px;             
}

.footer-links a {
    color: #fff;
    text-decoration: none; 
    font-size: 20px;
    font-weight: 600;
    transition: color 0.3s;
}

.footer-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 16px;                             
    padding: 33px 0;                      
    border-bottom: 1px solid #2e293d
}

.footer-col-title {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 24px;   
    text-transform: uppercase;
}

.footer-contact-list {
    list-style: none;
    padding: 0;
}

.footer-contact-list li {
    color: #B3B1B8;           
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;      
    margin-bottom: 15px;   
    display: flex;         
    align-items: flex-start;
}

.footer-contact-list i {
    display: inline-block; 
    width: 24px;           
    margin-right: 12px;    
    color: #B3B1B8;          
    font-size: 18px;       
    text-align: center;    
}

.footer-bottom {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 30px 0;                
}

.copyright {
    color: #B3B1B8;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.social-links {
    display: flex;
    gap: 24px;                      
}

.social-links a {
    color: #B3B1B8;                    
    font-size: 20px;
}